iframe
{
	border: none;
}
div.wrapper
{
	width: 80%;
	align: center;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-style: solid;
	border-color: red;
	border-size: 3px;
	margin-left: auto;
	margin-right: auto;
}
div.container
{
	font-size: 14pt;
	font-family: Arial;
	font-color: 111111;
	margin-left: 10px;
}
div.containerbottom
{
	font-size: 14pt;
	font-family: Arial;
	font-color: 111111;
	margin-left: 10px;
	margin-bottom: 20px;
}
h3
{
	font-color: red;
	margin-left: 10px;
}
a
{
	font-color: black;
	font-decoration: underline;
}